@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

.AppLink a {
    color: white !important;
}

    .AppLink a:visited {
        color: white !important;
    }

    .AppLink a:hover {
        color: white !important;
    }

.dropArea {
    border: 2px dashed gray;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    font-size: 1.5em;
    cursor: pointer;
    position: relative;
    min-height: 150px;
}

    .dropArea:hover {
        background-color: antiquewhite;
        color: #333;
    }

    .dropArea input[type=file] {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
    }

.dropAreaDrug {
    background-color: darkgray;
}

.fixedWidth {
    width: 250px;
}

.dashboardGrid {
    width: 75%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    box-sizing: border-box;
}

.dashboardItem {
    padding: 15px;
    flex: 1 1 auto;
    margin-bottom: 25px;
}

.detailFrame {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.detailRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-color: #424242ff;
    font-size: 1.15em;
    color: white;
}

.detailCol {
    flex: 1 1 auto;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    max-height: 325px;
}

    .video-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

.TickerBar {
    position: fixed;
    bottom: 0;
    width: 100vw;
    line-height: 36px;
    background-color: #424242ff;
}

.tickerData {
    width: 100%;
    color: #fff;
}

    .tickerData marquee {
        line-height: 36px;
    }

        .tickerData marquee span {
            margin-right: 6px;
        }

.category {
    font-size: 1.05em;
    font-style: italic;
    margin-right: 2px;
}

.leader {
    font-size: 1.05em;
    font-weight: bold;
}
